<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/beige.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/atom-one-light.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h4>Как переписать крупный проект на Angular и (не) впасть в депрессию</h4>
					<p>
						<small>Илья Таратухин / <a href="http://twitter.com/darkilfa">@darkilfa</a></small>
					</p>
				</section>
				<section>
					<section>
						<h3>Speaker</h3>
						<ul>
							<li class="fragment">7 years in frontend</li>
							<li class="fragment">5,5 years in 2GIS</li>
							<li class="fragment">Knockoutjs -> own framework -> React</li>
							<li class="fragment">1,5 года в Wrike</li>
							<li class="fragment">Dart + Angular</li>
							<li class="fragment">Last year work on UI-kit</li>
						</ul>
					</section>
					<section>
						<h3>О чем будем говорить?</h3>
						<ul>
							<li>О проекте и проблемах</li>
							<li>Проблемы ангуляра</li>
							<li>Проблемы проектирования</li>
							<li>Вредные советы от Google</li>
							<li>Что же делать?</li>
						</ul>
					</section>
					<section>
						<h3>What is Wrike for FE developers?</h3>
					</section>
					<section>
						<ul>
							<li class="fragment">Project with 10 years history</li>
							<li class="fragment">Legacy code running on Extjs + bicycles</li>
							<li class="fragment">50+ FE developers</li>
							<li class="fragment">New code runs on dart + Angular</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h3>Angular, any problems?</h3>
					</section>
					<section>
						<h2>Change detection</h2>
					</section>
					<section>
						<h2>Default change detection</h2>
					</section>
					<section data-background-image="img/CD0.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD1.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD2.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD3.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD4.svg" data-background-transition="none"></section>
					<section>
						<h2>Default change detection</h2>
						<ul>
							<li class="fragment">Each zone update</li>
							<li class="fragment">Checks all tree from root</li>
						</ul>
					</section>
					<section>
						<h2>OnPush change detection</h2>
					</section>
					<section data-background-image="img/CD0.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD1.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD2.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD10.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD11.svg" data-background-transition="none"></section>
					<section>
						<h2>OnPush change detection</h2>
						<ul>
							<li class="fragment">Each zone update</li>
							<li class="fragment">Don't go down if node clear</li>
							<li class="fragment">But event marks subtree up to root</li>
						</ul>
					</section>
					<section>
						<h2>Can I control CD manually?</h2>
						<ul>
							<li class="fragment">markForCheck - for mark subtree up to root</li>
							<li class="fragment">detectChanges - for trigger CD</li>
							<li class="fragment">detach - for skip CD cycles</li>
							<li class="fragment">reattach - cancel detach</li>
						</ul>
					</section>
					<section>
						<pre class="stretch"><code class="typescript" data-trim data-noescape>
class LowLevelComponent implements OnChanges {<mark class="fragment spy dot">
  ngOnChanges(changes: SimpleChanges) {<mark class="fragment spy dot">
	setTimeout(() => async {
	  this.state = await buildState(changes);<mark class="fragment spy dot">
	  cdr.markForCheck();
	  cdr.detectChanges();</mark>
	}, 0);</mark>
  }</mark>
}<mark class="fragment spy dot">

class HighLevelComponent {<mark class="fragment spy dot">
  get state(): ComponentState {<mark class="fragment spy dot">
    return new ComponentState();
  </mark>}</mark>
}</mark>
						</code></pre>
					</section>
					<section>
						<h3>Dependency injection<span class="fragment"> good parts</span></h3>
						<ul>
							<li class="fragment">Get access to angular magic (element, zone, change detector)</li>
							<li class="fragment">Easy to build event bus through app</li>
							<li class="fragment">A lot of OOP magic from the box</li>
							<li class="fragment">Great instrument for unit testing</li>
						</ul>
					</section>
					<section>
						<h3>Dependency injection bad parts</h3>
						<ul>
							<li class="fragment">Unobvious dependencies</li>
							<li class="fragment">With great power there must also come great responsibility</li>
							<li class="fragment">Works declarative</li>
						</ul>
					</section>
					<section>
						<pre><code class="html" data-trim data-noescape>
&lt;menu&gt;
	&lt;menu-item&gt;Item 1&lt;/menu-item&gt;
	&lt;menu-item&gt;Item 2&lt;/menu-item&gt;
&lt;/menu&gt;
						</code></pre>
					</section>
					<section>
						<h3>Dynamic components</h3>
					</section>
					<section>
						<h3>ContentChildren</h3>
						<ul>
							<li class="fragment">Not same as &lt;ng-content&gt;</li>
							<li class="fragment">DI works from component description point</li>
						</ul>
					</section>
					<section>
						<h3>Template</h3>
						<ul>
							<li class="fragment">NgTemplateOutlet</li>
							<li class="fragment">ViewContainerRef.createEmbeddedView</li>
							<li class="fragment">ViewContainerRef.createComponent</li>
						</ul>
					</section>
					<section class="white-slide" data-background-image="img/dynamic.png" data-background-position="center" data-background-size="contain">
					</section>
					<section>
						<ul>
							<li class="fragment">Use OnPush</li>
							<li class="fragment">Don't use DI for horizontal connections</li>
							<li class="fragment">Avoid dynamic components</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h3>Newbie Angular developer</h3>
						<h3 class="fragment">What can goes wrong?</h3>
					</section>
					<section>
						<h3>Input</h3>
					</section>
					<section>
						<pre class="stretch"><code class="typescript" data-trim data-noescape><span class="fragment removed fade-out" data-fragment-index="1">@Component{
  selector: 'custom-input'
}
</span>class CustomInput {
  @Input() value: String;
  @Input() label: String;
  @Output() change: EventEmitter&lt;any&gt;;<mark class="fragment spy dot" data-fragment-index="1">

  @Input() size: String; // s, m, l, xl</mark><mark class="fragment spy dot">
  @Input() type: String; // light, invisible</mark><mark class="fragment spy dot">
  @Input() fieldType: String; // email, password</mark><mark class="fragment spy dot">
  @Input() isReadonly: bool;</mark><mark class="fragment spy dot">
  @Input() isAutocomplete: bool;</mark><mark class="fragment spy dot">

  @Output() focus: EventEmitter&lt;any&gt;;</mark><mark class="fragment spy dot">
  @Output() blur: EventEmitter&lt;any&gt;;</mark><mark class="fragment spy dot">

  focus(): void {}</mark><mark class="fragment spy dot">
  ...</mark>
}
						</code></pre>
						<span class="fragment fade-in" data-fragment-index="0">
						<img class="mock fragment fade-out" src="img/input.png" data-fragment-index="1"/>
						</span>
					</section>
					<section>
						<pre class="stretch"><code class="typescript" data-trim data-noescape>
// custom input template
&lt;input class="input-text"<mark class="fragment dot spy">
  ref-input</mark><mark class="fragment dot spy">
  [type]="type"
  [disabled]="isDisabled"
  [placeholder]="placeholderText"
  [readonly]="isReadonly"
  [autocomplete]="autocomplete"</mark><mark class="fragment dot spy">
  (input)="onChange($event)"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"</mark>/&gt;

<mark class="fragment dot">&lt;label *ngIf="isLabelNotEmpty"
  <mark>(click)="focus()"</mark>&gt;
	{{ label }}
&lt;/label&gt;</mark>
						</code></pre>
						<span class="fragment"></span>
					</section>
					<section>
						<pre><code class="typescript" data-trim data-noescape>
@Component{
  selector: 'input[custom-input]'
}
class CustomInput {<mark class="fragment dot" data-fragment-index="2">
  @Input() size: String; // s, m, l, xl</mark><mark class="fragment dot" data-fragment-index="3">
  @Input() skin: String; // light, invisible</mark>
}
                        </code></pre><pre><code class="html" data-trim data-noescape>// Usage in template<mark class="fragment dot" data-fragment-index="5">
&lt;input-wrapper [label]="labelText"&gt;</mark>
  <mark class="fragment dot" data-fragment-index="1">&lt;input custom-input
  [type]="'password'"<mark class="fragment spy dot" data-fragment-index="4">
  [size]="'m'" [skin]="'light'"</mark>/&gt;</mark><mark class="fragment dot" data-fragment-index="5">
&lt;input-wrapper/&gt;</mark><span class="fragment removed fade-out" data-fragment-index="4">

</span>
						</code></pre>
					</section>
					<section>
						<h1>Tooltip</h1>
					</section>
					<section>
						<pre><code class="html">
&lt;tooltip
  [trigger]="'click'"
  [position]="'right'"
  [target]="buttonRef"&gt;
  Tooltip content
&lt;/tooltip&gt;
						</code></pre>
						<pre><code class="typescript">
class Tooltip {
  @Input() trigger: String;
  @Input() position: String;
  @Input() target: Element;
}
						</code></pre>
					</section>
					<section>
						<pre class="stretch"><code class="typescript" data-trim data-noescape>
class Tooltip {
  @Input() trigger: String;
  @Input() position: String;
  @Input() target: Element;<mark class="fragment spy dot">

  open(): void {}</mark><mark class="fragment spy dot">
  close(): void {}</mark><mark class="fragment spy dot">

  @Output() onOpen: EventEmitter&lt;any&gt;;</mark><mark class="fragment spy dot">
  @Output() onClose: EventEmitter&lt;any&gt;;</mark>
}
						</code></pre>
					</section>
					<section>
						<pre><code class="typescript" data-trim data-noescape>
class Tooltip {
  @Input() position: String;
  @Input() target: Element;
}
						</code></pre>
						<pre class="fragment"><code class="html" data-trim data-noescape>
&lt;tooltip<mark class="fragment spy"> *ngIf="isOpened"</mark>
  [target]="target"
  [position]="'top'"&gt;
  Tooltip content
&lt;/tooltip&gt;
						</code></pre>
					</section>
					<section>
                        <h3>Be careful</h3>
						<ul>
							<li class="fragment">Don't wrap native elements</li>
							<li class="fragment">Write stateless components</li>
							<li class="fragment">Write simple components</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h3>Need more advices?</h3>
						<ul class="fragment">
							<li>Use sandbox!</li>
						</ul>
					</section>
					<section data-background-image="img/demo1.png" data-background-size="contain"></section>
					<section data-background-image="img/demo2.png" data-background-size="contain"></section>
					<section>
						<h2>Angular can be useless and annoying</h2>
						<ul>
							<li class="fragment">Too much change detection</li>
							<li class="fragment">Need to trigger change detection manually</li>
							<li class="fragment">You have it on other tech stack?</li>
						</ul>
					</section>
					<section>
						<h2>Use external library!</h2>
					</section>
				</section>
				<section>
					<h2>Result</h2>
					<ul>
						<li class="fragment">OnPush</li>
						<li class="fragment">Unidirectional data flow</li>
						<li class="fragment">Stateless components</li>
						<li class="fragment">Avoid dynamic components</li>
						<li class="fragment">Don't wrap native elements</li>
						<li class="fragment">Use sandbox</li>
						<li class="fragment">It's OK to use other library</li>
					</ul>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
//                width: 1920,
//                height: 1080,
//                minScale: 1,
//                maxScale: 1,
//				margin: 0.1,
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
