<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/beige.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/atom-one-light.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h3>Как переписать крупный проект на Angular и (не) впасть в депрессию</h3>
					<p>
						<small>Илья Таратухин / <a href="http://twitter.com/darkilfa">@darkilfa</a></small>
					</p>
				</section>
				<section>
					<section>
						<h2>Speaker</h2>
						<ul>
							<li class="fragment">7 years in frontend</li>
							<li class="fragment">5,5 years in 2GIS</li>
                            <li class="fragment">Knockoutjs<span class="fragment"> -> own framework</span><span class="fragment"> -> React</span></li>
							<li class="fragment">1,5 years in Wrike</li>
							<li class="fragment">Dart + Angular</li>
							<li class="fragment">Last year work on UI-kit</li>
						</ul>
					</section>
                    <section class="white-slide" data-background-image="img/kit.jpg" data-background-size="contain"></section>
					<section>
						<h2>What is the plan?</h2>
						<ul>
							<li class="fragment">Project and its problems</li>
							<li class="fragment">What's wrong with developers?</li>
							<li class="fragment">What's wrong in Angular?</li>
							<li class="fragment">Lifehacks</li>
						</ul>
					</section>
					<section>
						<h2>What is Wrike for FE developers?</h2>
						<ul>
							<li class="fragment">Project with 10 years history</li>
							<li class="fragment">Legacy code running on ExtJs + bicycles</li>
							<li class="fragment">50+ FE developers</li>
							<li class="fragment">New code runs on Dart + Angular</li>
						</ul>
					</section>
                    <section class="white-slide" data-background-image="img/gorynych.jpeg" data-background-size="contain"></section>
                    <section class="white-slide" data-background-image="img/ikea.jpg" data-background-size="contain"></section>
                </section>
                <section>
                    <section>
                        <h1>Angular newcomers</h1>
                        <h2 class="fragment">What can go wrong?</h2>
                    </section>
                    <section class="white-slide" data-background-image="img/trex-curling.jpg" data-background-size="contain"></section>
                    <section>
                        <h2>Input</h2>
                        <img class="img fragment" src="img/inputBase.png"/>
                    </section>
                    <section>
						<pre class="stretch"><code class="typescript" data-trim data-noescape><span class="fragment removed fade-out" data-fragment-index="1">@Component({
  selector: 'custom-input'
})
</span>class CustomInput {
  @Input() value: String;
  @Input() label: String;
  @Output() change: EventEmitter&lt;any&gt;;<mark class="fragment spy dot" data-fragment-index="1">

  @Input() size: String; // s, m, l, xl</mark><mark class="fragment spy dot">
  @Input() type: String; // light, invisible</mark><mark class="fragment spy dot">
  @Input() fieldType: String; // email, password</mark><mark class="fragment spy dot">
  @Input() isReadonly: bool;</mark><mark class="fragment spy dot">
  @Input() isAutocomplete: bool;</mark><mark class="fragment spy dot">

  @Output() focus: EventEmitter&lt;any&gt;;</mark><mark class="fragment spy dot">
  @Output() blur: EventEmitter&lt;any&gt;;</mark><mark class="fragment spy dot">

  focus(): void {}</mark><mark class="fragment spy dot">
  ...</mark>
}
						</code></pre>
                        <span class="fragment fade-in" data-fragment-index="0">
						<img class="mock fragment fade-out" src="img/input.png" data-fragment-index="1"/>
						</span>
                    </section>
                    <section>
						<pre class="stretch"><code class="typescript" data-trim data-noescape>
// custom input template
&lt;input class="input-text"<mark class="fragment dot spy">
  ref-input</mark><mark class="fragment dot spy">
  [type]="type"
  [disabled]="isDisabled"
  [placeholder]="placeholderText"
  [readonly]="isReadonly"
  [autocomplete]="autocomplete"</mark><mark class="fragment dot spy">
  (input)="onChange($event)"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"</mark>/&gt;

<mark class="fragment dot">&lt;label *ngIf="isLabelNotEmpty"
  <mark>(click)="focus()"</mark>&gt;
	{{ label }}
&lt;/label&gt;</mark>
						</code></pre>
                        <span class="fragment"></span>
                    </section>
                    <section class="white-slide" data-background-image="img/material-input.png"></section>
                    <section>
						<pre><code class="typescript" data-trim data-noescape>
@Component({
  selector: 'input[custom-input]'
})
class CustomInput {<mark class="fragment dot" data-fragment-index="2">
  @Input() size: String; // s, m, l, xl</mark><mark class="fragment dot" data-fragment-index="3">
  @Input() skin: String; // light, invisible</mark>
}
                        </code></pre><pre><code class="html" data-trim data-noescape>// Usage in template<mark class="fragment dot" data-fragment-index="5">
&lt;input-meta [label]="labelText"&gt;</mark>
  <mark class="fragment dot" data-fragment-index="1">&lt;input custom-input
  [type]="'password'"<mark class="fragment spy dot" data-fragment-index="4">
  [size]="'m'" [skin]="'light'"</mark>/&gt;</mark><mark class="fragment dot" data-fragment-index="5">
&lt;input-meta/&gt;</mark><span class="fragment removed fade-out" data-fragment-index="4">

</span>
						</code></pre>
                    </section>
                    <section>
                        <h3>Conclusion</h3>
                        <p class="fragment">Don't wrap native elements</p>
                    </section>
                    <section>
                        <h2>Tooltip</h2>
                        <img class="img fragment" src="img/tooltip.png"/>
                    </section>
                    <section>
						<pre><code class="html">
&lt;tooltip
  [trigger]="'click'"
  [position]="'right'"
  [target]="buttonRef"&gt;
  Tooltip content
&lt;/tooltip&gt;
						</code></pre>
                        <pre><code class="typescript">
class Tooltip {
  @Input() trigger: String;
  @Input() position: String;
  @Input() target: Element;
}
						</code></pre>
                    </section>
                    <section class="white-slide" data-background-image="img/hard-tooltip.png" data-background-size="contain"></section>
                    <section>
						<pre class="stretch"><code class="typescript" data-trim data-noescape>
class Tooltip {
  @Input() trigger: String;
  @Input() position: String;
  @Input() target: Element;<mark class="fragment spy dot">

  open(): void {}</mark><mark class="fragment spy dot">
  close(): void {}</mark><mark class="fragment spy dot">

  @Output() onOpen: EventEmitter&lt;any&gt;;</mark><mark class="fragment spy dot">
  @Output() onClose: EventEmitter&lt;any&gt;;</mark>
}
						</code></pre>
                    </section>
                    <section>
						<pre><code class="typescript" data-trim data-noescape>
class Tooltip {
  @Input() position: String;
  @Input() target: Element;
}
						</code></pre>
                        <pre class="fragment"><code class="html" data-trim data-noescape>
&lt;tooltip<mark class="fragment spy"> *ngIf="isOpened"</mark>
  [target]="target"
  [position]="'top'"&gt;
  Tooltip content
&lt;/tooltip&gt;
						</code></pre>
                    </section>
                    <section>
                        <h3>Conclusion</h3>
                        <ul>
                            <li class="fragment">Write stateless components</li>
                            <li class="fragment">Write simple components</li>
                        </ul>
                    </section>
                </section>
				<section>
					<section>
						<h1>Angular, any problems?</h1>
					</section>
                    <section data-background-image="img/render.svg" class="stretch">
                        <h3>How Angular render work?</h3>
                    </section>
                    <section data-background-image="img/zone.svg" data-background-transition="none"></section>
                    <section data-background-image="img/zone1.svg" data-background-transition="none"></section>
                    <section data-background-image="img/zone2.svg" data-background-transition="none"></section>
                    <section data-background-image="img/zone3.svg" data-background-transition="none"></section>
                    <section data-background-image="img/zone.svg" data-background-transition="none">
                        <h3 class="fragment">NgZone.onStable</h3>
                    </section>
                    <section data-background-image="img/CD0.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD2.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD3.svg" data-background-transition="none"></section>
					<section data-background-image="img/CD4.svg" data-background-transition="none"></section>
                    <section>
                        <h3>What does CD do?</h3>
                        <ul>
                            <li class="fragment">Every time on NgZone.onStable</li>
                            <li class="fragment">For each component</li>
                            <li class="fragment">For each binding</li>
                            <li class="fragment">Checks prevVal != nextVal</li>
                        </ul>
                    </section>
                    <section>
                        <h3>When can CD brake your app?</h3>
                        <ul>
                            <li class="fragment">Your application is big</li>
                            <li class="fragment">You have data calculation on render</li>
                            <li class="fragment">You listen sockets <mark class="fragment">in Angular Zone</mark></li>
                        </ul>
                    </section>
                    <section>
                        <h3>How to fix it?</h3>
                        <ul>
                            <li class="fragment">Subscribe on events out of zone</li>
                            <li class="fragment">Use OnPush CD strategy</li>
                        </ul>
                    </section>
                    <section>
						<h3>Default change detection</h3>
						<ul>
							<li class="fragment">Each zone update</li>
							<li class="fragment">Checks all tree from root</li>
							<li class="fragment">Checks all bindings</li>
						</ul>
                    </section>
                    <section>
                        <h3>OnPush change detection</h3>
                        <ul>
                            <li class="fragment">Each zone update</li>
                            <li class="fragment">Runs CD if @Input change</li>
                            <li class="fragment">Runs CD if event was in component`s zone</li>
                            <li class="fragment">Doesn't check subtree if component has no changes</li>
                            <li class="fragment">You need immutable state tree</li>
                        </ul>
                    </section>
					<section>
						<h3>How to control CD manually?</h3>
						<ul>
							<li class="fragment">markForCheck - for mark subtree up to root</li>
							<li class="fragment">detectChanges - for trigger CD</li>
							<li class="fragment">detach - for skip CD cycles</li>
							<li class="fragment">reattach - cancels detach</li>
						</ul>
					</section>
					<section>
						<h2>Dynamic components</h2>
                        <pre class="fragment"><code class="html" data-trim data-noescape>
&lt;task-list
  [tasks]="tasksModel"
  [taskTemplate]="TaskComponent"&gt;
&lt;/task-list&gt;
                        </code></pre>
                    </section>
                    <section data-background-image="img/taskList.png" data-background-position="top"></section>
                    <section>
                        <h3>@ContentChildren</h3>
                        <pre class="fragment"><code class="html" data-trim data-noescape>
&lt;task-list [tasks]="tasksModel"&gt;
  <span class="fragment">&lt;task
    <mark>*ngFor="let item of tasksModel.items"</mark>
    [model]="item"&gt;
  &lt;/task&gt;</span>
&lt;/task-list&gt;
                        </code></pre>
                    </section>
                    <section>
                        <pre class="stretch"><code class="typescript" data-trim data-noescape>
@Component({
  selector: 'task-list',
  template: '&lt;ng-content&gt;&lt;/ng-content&gt;'
})
class TaskList implements AfterContentInit {
  @Input() tasks: TasksModel;
  <mark>@ContentChildren(Task) tasks: QueryList&lt;Task&gt;;</mark>

  ngAfterContentInit() {
    // contentChildren is set
  }
}
                        </code></pre>
                    </section>
					<section>
                        <h3>@ContentChildren</h3>
						<ul>
							<li class="fragment">Doesn't help with complicated structures</li>
							<li class="fragment">Looks like crunch</li>
						</ul>
					</section>
					<section>
						<h3>NgTemplateOutlet</h3>
                        <pre class="fragment"><code class="html" data-trim data-noescape>
&lt;task-list
  [tasks]="tasksModel"
  [taskTemplate]="taskTemplate"&gt;
&lt;/task-list&gt;<span class="fragment">

&lt;ng-template ref-taskTemplate
  let-item&gt;
  &lt;task [model]="item"&gt;
&lt;/ng-template&gt;
                        </span></code></pre>
                    </section>
                    <section>
                        <pre><code class="html" data-trim data-noescape>
// Task list template

&lt;ng-container
  *ngTemplateOutlet=
  &quot;taskTemplate; context: taskItem&quot;&gt;
&lt;/ng-container&gt;
                        </code></pre>
					</section>
					<section class="white-slide" data-background-image="img/dynamic.png" data-background-position="center" data-background-size="contain">
					</section>
                    <section class="white-slide" data-background-image="img/trex-crutch.jpg" data-background-size="contain"></section>
                    <section>
                        <h3>Avoid dynamic components</h3>
					</section>
				</section>
				<section>
					<section>
						<h1>Lifehacks</h1>
					</section>
                    <section>
                        <h2>Use sandbox</h2>
                    </section>
					<section data-background-image="img/demo1.png" data-background-position="top"></section>
					<section data-background-image="img/demo2.png" data-background-position="top"></section>
					<section>
						<h2>Angular can be really bad guy</h2>
						<ul>
							<li class="fragment">Too much change detection</li>
							<li class="fragment">Need to trigger change detection manually</li>
						</ul>
					</section>
                    <section class="white-slide" data-background-image="img/trex-wheelchair.jpg" data-background-size="contain"></section>
					<section>
                        <h3>Do you have it on other tech stack?</h3>
						<h3 class="fragment">Use external library!</h3>
					</section>
                </section>
                <section>
                    <section>
                        <h2>Result</h2>
                        <ul>
                            <li class="fragment">Don't wrap native elements</li>
                            <li class="fragment">Stateless components</li>
                            <li class="fragment">OnPush</li>
                            <li class="fragment">Subscriptions out of zone</li>
                            <li class="fragment">Avoid dynamic components</li>
                            <li class="fragment">Use sandbox</li>
                            <li class="fragment">Don't write bicycles</li>
                        </ul>
                    </section>
                    <!--<section data-background-image="img/trex-ukulele.png" data-background-size="contain"></section>-->
                    <section data-background-image="img/trex-ukulele.png" data-background-size="contain" data-background-position="right">
                        <h2 class="special">Thank you</h2>
                        <div>
                            <p class="special">
                                - Follow me: <a href="https://twitter.com/darkilfa">@darkilfa</a> <br>
                                - <img src="img/vk-social.png" class="plain block small-logo">
                                <img src="img/facebook-social.png" class="plain block small-logo">
                                <img src="img/habr-social.png" class="plain block small-logo"> : <a href="https://www.wrike.com/">@wriketeam</a><br>
                                <!-- - Slides &amp; info: <a href="https://goo.gl/THnu3U">https://goo.gl/THnu3U</a> -->
                            </p>
                        </div>
                    </section>
                </section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
//                width: 1920,
//                height: 1080,
//                minScale: 1,
//                maxScale: 1,
//				margin: 0.1,
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
